/*Portada*/

.blog-container-cover {
  width: 100vw;
  height: 500px;
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-info-cover:before {
  position: absolute;
  width: 100vw;
  height: 500px;
  content: "";
  top: 0;
  bottom: 0;
  /*right: 0;*/
  /*left: 0;*/
  background: rgba(0, 0, 0, 0.61);
  opacity: 1;
}

/*.container-info-cover {*/
/*max-width: 800px;*/
/*height: 500px;*/
/*margin: auto;*/
/*text-align: center;*/
/*display: flex;*/
/*flex-direction: column;*/
/*justify-content: center;*/
/*align-items: center;*/
/*position: relative;*/
/*z-index: 1;*/
/*}*/

.container-info-cover h1 {
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
  z-index: 1;
}

.container-info-cover p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  z-index: 1;
}

/*Contenedor de categorias*/

input[type="radio"] {
  display: none;
}

.container-category {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.container-category label {
  padding: 6px 24px;
  margin: 10px;
  font-size: 20px;
  background: #ebe6e6;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 3px #000;
}

.container-category label:hover {
  opacity: 0.8;
}

/*Post - Publicaciones*/

.ctn-tag {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 16px;
  margin-top: 10px;
}

.ctn-tag li {
  list-style: none;
  font-size: 14px;
  margin: 0px;
  padding: 6px 10px;
  background: #e8e8e8;
  cursor: default;
}

/*sistema de filtrado*/

[value="TODOS"]:checked ~ .posts .post[data-category] {
  display: block;
}

[value="restaurantes"]:checked
  ~ .posts
  .post:not([data-category~="restaurantes"]),
[value="almacenes"]:checked ~ .posts .post:not([data-category~="almacenes"]),
[value="ferreterias"]:checked
  ~ .posts
  .post:not([data-category~="ferreterias"]),
[value="supermercados"]:checked
  ~ .posts
  .post:not([data-category~="supermercados"]),
[value="comidas_rapidas"]:checked
  ~ .posts
  .post:not([data-category~="comidas_rapidas"]),
[value="papeleria"]:checked ~ .posts .post:not([data-category~="papeleria"]) {
  display: none;
}

[value="TODOS"]:checked ~ .container-category [for="TODOS"],
[value="restaurantes"]:checked ~ .container-category [for="restaurantes"],
[value="almacenes"]:checked ~ .container-category [for="almacenes"],
[value="ferreterias"]:checked ~ .container-category [for="ferreterias"],
[value="supermercados"]:checked ~ .container-category [for="supermercados"],
[value="comidas_rapidas"]:checked ~ .container-category [for="comidas_rapidas"],
[value="papeleria"]:checked ~ .container-category [for="papeleria"] {
  background: #46a2fd;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}
