.imagen-mayoria {
  background-image: url(../../img/articulos/restaurante1.jpg);
}

.imagen-casa-mexicana {
  background-image: url(../../img/articulos/restaurante2.jpg);
}

.imagen-almacen1 {
  background-image: url(../../img/articulos/almacen1.jpg);
}
.imagen-almacen2 {
  background-image: url(../../img/articulos/almacen2.jpg);
}
.imagen-ferreteria1 {
  background-image: url(../../img/articulos/ferreteria1.jpg);
}
.imagen-ferreteria2 {
  background-image: url(../../img/articulos/ferreteria2.jpg);
}
.imagen-supermercado1 {
  background-image: url(../../img/articulos/supermercado1.jpg);
}
.imagen-supermercado2 {
  background-image: url(../../img/articulos/supermercado2.jpg);
}
.imagen-comidasrapidas1 {
  background-image: url(../../img/articulos/comidasrapidas1.jpg);
}
.imagen-comidasrapidas2 {
  background-image: url(../../img/articulos/comidasrapidas2.jpg);
}
.imagen-papeleria1 {
  background-image: url(../../img/articulos/papeleria1.jpg);
}
.imagen-papeleria2 {
  background-image: url(../../img/articulos/papeleria2.jpg);
}
